@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLORS */
  --bittersweet-orange: #ff7270;
  --mandy-pink: #e15b73;
  --soft-blue: #6a81fb;
  --oil-black: #1d1d1d;
  --fantasy-pink: #fff4ed;
  --success: #5EE3A5;
  --warning: #F1CF58;
  --info: #8D6BFB;
  --white-1: #F8F6F4;
  --white-2: #EEECEA;
  --white-3: #E3DEDA;
  --black-1: #3D3C3C;
  --black-2: #5A5A5A;
  --black-3: #8E8E8E;
  /* FONTS AND TEXT */
  --font-family: 'Aeonik', system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  background-color: var(--white-1);
  overflow-x: hidden;
  color: var(--oil-black);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--oil-black);
  margin: 0;
}

.base-btn {
  @apply bg-white-2 hover:bg-white-3 h-10 px-4 rounded-md active:scale-95 transition-all text-sm flex items-center gap-2;
}

.close-btn {
  @apply bg-transparent hover:bg-white-2 h-8 px-3 rounded-md active:scale-95 transition-all text-sm flex items-center gap-2;
}

.side-menu-grid {
  height: calc(100vh - 82px);
  display: grid;
  grid-template-columns: 240px 1fr;
}

.required::after {
  content: '*';
  color: var(--bittersweet-orange);
  font-size: 1rem;
  font-weight: bold;
  margin-left: 4px;
}

.h-table {
  height: calc(100% - 65px);
  padding-bottom: 5rem;
}

.dp__input {
  padding: 11px 2rem !important;
  height: 3rem !important;
  border-radius: 0.5rem !important;
}

input[type="time"].input-time-simple::-webkit-calendar-picker-indicator {
  background: none;
}

input[type="number"].no-arrows::-webkit-outer-spin-button,
input[type="number"].no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}